<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
</head>
<body>
    <h1>Menú:</h1>
    <form method="POST">
        <button type="submit" name="opcion" value="1">Calculo total de ganancias/pérdidas</button><br>
        <button type="submit" name="opcion" value="2">Número de operaciones totales realizadas</button><br>
        <button type="submit" name="opcion" value="3">Calcular ganancias/pérdidas en un rango de fechas</button><br>
        <button type="submit" name="opcion" value="4">Calcular ganancias/pérdidas por activo</button><br>
        <button type="submit" name="opcion" value="5">Generar archivo con los resultados (FINAL.xlsx)</button><br>
        <button type="submit" name="opcion" value="6">Salir</button>
    </form>
</body>
</html>
